 autosite --username DJDataB@gmail.com/automaticsitev2.5/v2.5/data xml/shop/Acatalog_V01.dtd

<?xml version="1.0" encoding="UTF-8" ?>
	<!ELEMENT catalog(title,product*)>
	<!ELEMENT product(id,title,description,img,price,barcode)>
	<!-- alert use no paswords in the link-->
	<!ELEMENT id(#PCDATA)>
	<!ELEMENT title(#PCDATA)>
	<!ELEMENT description(#PCDATA)>
	<!ELEMENT img(#PCDATA)>	
	<!ELEMENT price(#PCDATA)>
	<!ELEMENT barcode(#PCDATA)>

